.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  padding: 8px;
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footer_center {
  flex: 0.5;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  position: relative;
  bottom: 10px;

  .play__btn {
    font-size: 40px;
  }
  .next__prev {
    font-size: 24px;
  }
  .edge__icon {
    font-size: 20px;
  }
}

.footer_right * .MuiSlider-root {
  color: rgb(0, 168, 0);
}

.footer__green {
  color: rgb(0, 168, 0);
}

.footer__green:hover,
.footer__icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer_right {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer__albumLogo {
  object-fit: contain;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.footer__songInfo > h4 {
  margin-bottom: 2px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.single_song_fav {
  margin-left: 22px !important;
  display: flex;

  .MuiSvgIcon-root {
    width: 20px !important;
    padding: 5px;
  }
}

.volume__slider {
  margin: 5px 0;
  width: 30% !important;
}

.seek__slider {
  min-width: 100%;
  position: absolute;
  bottom: -35px;
  left: 0%;
  .css-187mznn-MuiSlider-root {
    color: gray !important;
  }
  .css-eg0mwd-MuiSlider-thumb {
    width: 0 !important;
    height: 0 !important;
  }
  .css-1gv0vcd-MuiSlider-track {
    color: rgb(212, 212, 212) !important;
  }
}
.seek__slider .css-187mznn-MuiSlider-root {
  width: 100% !important;
}

.css-eg0mwd-MuiSlider-thumb {
  width: 10px !important;
  height: 10px !important;
}

.css-eg0mwd-MuiSlider-thumb:hover,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none !important;
}

.startTime {
  position: absolute;
  bottom: 15px;
  left: -55px;
}
.endTime {
  position: absolute;
  bottom: 15px;
  right: -55px;
}
